@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=EB+Garamond:ital,wght@1,400;1,500&family=Open+Sans:wght@600&family=Roboto&family=Stoke:wght@300&family=Vollkorn:ital,wght@1,500&display=swap');

:root{
    --primary-font: "EB Garamond";
    --secondary-font: "Open Sans";
    --content-font: "Stoke";
    --para-font: "Crimson Text";
}


*{
    padding:0;
    margin:0;
}
